a {
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(15, 121, 15);
  padding: 10px;
}

div {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer {
  background-color: aquamarine;
  position: absolute;
  bottom: 100px;
}
